@import "tailwindcss";

@layer base {
  :root {
    --text: #2b3d50;
    --background: #f6f8f9;
    --primary: #00064d;
    --secondary: #dae2ec;
    --accent: #870839;
  }/*

  .dark {
    --text: #f6f8f9;
    --background: #2b3d50;
    --primary: #3344ff; 
    --secondary: #3d4b5a;
    --accent: #ff4d91; 
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background); 
  color: var(--text);
}*/

